#show-contact {
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}

.borderTop {
  border-top: 1px solid grey;
  margin-top: 20px;
  padding-top: 20px;
}
